/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
  color: #111827;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
}

input:focus {
  outline: none;
  border-color: #2563eb;
}

/* Buttons (base) */
button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}